<!DOCTYPE html>
<html>
   <body>
      <head>
         <title>HTML Forms</title>
      </head>
      <p>Add coupon details:</p>
      <form>
         Company Name:<br> <input type="text" name="company">
         <br>
         Coupon Code:<br> <input type="text" name="code">
         <br>
         Expiry date:<br> <input type="datetime-local" id="expiry"
         name="expiry" value="2018-06-12T19:30"
         min="2018-06-07T00:00" max="2023-06-14T00:00">
         <br>
         Brief Description:<br> <input type="text" name="description">
         <br><br>
         <input type="submit" value="SUBMIT">

      </form>
      <br><br>
      <button>
         <a href = "/">
           Back Home
         </a>
       </button>
 
       <button>
         <a href = "/display/">
           View Available Coupons
         </a>
       </button>
   </body>
</html>